[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = {version = ">=1.11,<3.0"}
requests = ">2"
"psycopg2-binary" = ">2"
whitenoise = "*"


[dev-packages]

pytest-django = "*"
